.search-container {
    position: relative;
    width: 100%;
}

.image-container {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(37, 37, 37, 1));
    pointer-events: none;
    z-index: 1; /* Устанавливаем z-index для градиента */
}

.image {
    width: 90vw; /* Или другие значения, которые вам подходят */
    display: block;
    margin: 0 auto; /* Центрируем изображение */
    z-index: 0;
}

.popular-films {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: white;

}

.popular-films h2 {
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
    .search-container {
        position: relative;
        width: 100%; /* Полная ширина, оптимизировано для мобильных */
    }

    .image-container {
        display: flex;
        position: relative;
        overflow: hidden; /* Скрытие выходящих за пределы элементов */
        margin: 0;
        height: 50vh; /* Увеличиваем высоту контейнера для мобильных устройств */
    }

    .image-container::after {
        content: '';
        position: absolute;
        height: 100%; /* Указываем полную высоту контейнера */
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(37, 37, 37, 1)),
                          linear-gradient(to top, rgba(0, 0, 0, 0), rgb(31, 31, 31)); /* Добавляем второй градиент для верха */
        pointer-events: none;
        z-index: 1;
    }

    .image {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: auto;
        object-fit: cover; /* Центрирование и обрезка изображения по ширине */
        z-index: 0;
    }

    .popular-films {
        display: flex;
        justify-content: center;
        padding-top: 20px; /* Добавлено верхнее отступление */
        color: white; /* Убедитесь, что текст виден на темном фоне */
    }

    .popular-films h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        animation: fadeIn 2s ease-out; /* Плавное появление названий */
        padding: 0;
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(20px); }
        to { opacity: 1; transform: translateY(0); }
    }
}



