.admin-rooms-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.room-card {
    border: 1px solid #555555;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2e2e2e;
}

.room-card p {
    margin: 5px 0;
}

.room-card span {
    font-weight: bold;
}

.btn-admin-rooms {
    background-color: #ff4b5c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

.btn-admin-rooms:hover {
    background-color: #ff1e3b;
    transform: translateY(-2px);
}

.btn-admin-rooms:active {
    background-color: #d40023;
    transform: translateY(0);
}
