html {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    background-color: #1F1F1F;
}

.main-container {
    padding-top: 70px; /* Размер должен соответствовать высоте .header */
    margin: 0 auto;
    background-color: #252525;
    max-width: 80%;
    min-height: calc(100vh - 150px); /* Вычитаем высоту футера, если она известна */
}


.main-container {
    padding-top: 70px; /* Размер должен соответствовать высоте .header */
    padding-bottom: 50px; /* Добавлен нижний внутренний отступ для отделения содержимого от нижней части контейнера */
    margin: 0 auto;
    background-color: #252525;
    max-width: 80%;
    min-height: 100vh;
}