/* Основные стили */
.unique-series-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box; /* Обеспечиваем включение отступов в общую ширину */
}

.unique-series {
    position: relative;
    cursor: pointer;
    width: 250px;
    height: 375px;
    overflow: hidden;
    display: block;
    background-color: #000;
    text-decoration: none;
    transition: transform 0.3s ease;
    border-radius: 10px; /* Добавлено для закругленных углов */
}

.unique-series:hover {
    transform: scale(1.05);
    z-index: 1;
}

.unique-series-poster {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    border-radius: 10px; /* Добавлено для закругленных углов */
}

.unique-series-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(37, 37, 37, 0.8) 0%, rgba(37, 37, 37, 0) 100%);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    pointer-events: none; /* Добавлено для предотвращения проблем с прокруткой */
    border-radius: 10px; /* Добавлено для закругленных углов */
}

.unique-series:hover .unique-series-overlay {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; /* Добавлено для предотвращения проблем с прокруткой */
}

.unique-series-info {
    text-align: center;
    width: 100%;
}

.unique-series-title {
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.unique-series-description {
    font-size: 0.8em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.unique-play-icon {
    font-size: 3em;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unique-series-filters-container {
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.unique-series-filters {
    display: flex;
    gap: 10px;
    padding: 30px;
    background: rgba(37, 37, 37, 0);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.unique-series-filters select {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    color: #333;
}

.unique-series-filters select:hover, .unique-series-filters select:focus {
    background-color: #ffffff;
    border-color: #0056b3;
}

.unique-series-filters button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.unique-series-filters button:hover {
    background-color: #0056b3;
}

.unique-popular-series {
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
}

/* Мобильная версия */
@media (max-width: 900px) {
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    .unique-series-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* По два сериала в ряд */
        gap: 10px;
        padding: 10px;
        margin: 0 auto; /* Центрируем содержимое */
        width: calc(100% - 20px); /* Устанавливаем ширину с учетом padding */
        box-sizing: border-box; /* Обеспечиваем включение отступов в общую ширину */
    }

    .unique-series {
        width: 100%;
        height: auto; /* Убираем фиксированную высоту для мобильной версии */
        margin-bottom: 15px;
        border-radius: 10px; /* Добавлено для закругленных углов */
    }

    .unique-series-title {
        font-size: 1em;
    }

    .unique-series-description {
        font-size: 0.7em;
    }

    .unique-play-icon {
        font-size: 2em;
    }

    .unique-series-filters {
        flex-direction: column; /* Меняем направление на колонку */
        padding: 10px;
        gap: 15px;
        width: 100%; /* Устанавливаем ширину на 100% */
        align-items: center; /* Центрируем элементы */
    }

    .unique-series-filters select, .unique-series-filters button {
        width: 90%; /* Ширина элементов */
        max-width: 100%;
    }

    .unique-popular-series h2 {
        font-size: 1.2em;
    }

    button.filter-toggle-button {
        margin: 0 auto; /* Центрируем кнопку */
        text-align: center; /* Центрируем текст */
        margin-top: 0; /* Отступ сверху для мобильной версии */
        margin-bottom: 20px;
    }
}

.filter-toggle-button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Центрируем кнопку */
    text-align: center; /* Центрируем текст */
    margin-top: 50px; /* Отступ сверху для ПК */
}

.filter-toggle-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
