/* Основные стили */
.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px; /* Убраны отступы сверху и снизу */
    gap: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #e0e0e0;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-container-uni {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.review-text-uni {
    margin-bottom: 30px;
    font-size: 1.5em;
    color: #e0e0e0;
    text-align: center;
}

.emoji-rating {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px;
    gap: 20px;
}

.emoji-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emoji {
    font-size: 2em;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.emoji:hover {
    transform: scale(1.13);
    color: #ffc107;
}

.emoji.selected {
    border: 2px solid #ffc107;
    border-radius: 50%;
    background-color: rgba(255, 193, 7, 0.1);
}

.rating-count {
    font-size: 0.8em;
    margin-top: 5px;
    color: #e0e0e0;
}

.admin-button {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 40px;
    text-transform: uppercase;
}

.admin-button:hover {
    background: linear-gradient(90deg, #e52e71, #ff8a00);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.admin-button:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1920px) {
    .player-container {
        max-width: 1100px;
    }
}

/* Стиль деталей фильма */
.movie-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    gap: 20px;
    box-sizing: border-box; /* Включение padding в общую ширину */
}

.movie-details img {
    width: 300px; /* Возвращаем размер постера */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin: 0 auto; /* Центрирование изображения */
}

.movie-details div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.movie-details .h2 {
    font-size: 24px;
    margin-bottom: 15px; /* Увеличиваем отступы текста */
    text-align: left; /* Выравнивание по левому краю */
}

.movie-details .p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px; /* Увеличиваем отступы текста */
    text-align: left; /* Выравнивание по левому краю */
}

/* Стиль плеера */
.kinobox_player {
    width: 100%;
    height: 600px;
    background-color: #000;
    margin-top: 30px;
}

.player-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-direction: row; /* Кнопки располагаются в строку */
}

.player-buttons button {
    padding: 8px 16px; /* Уменьшаем размер кнопок */
    font-size: 14px; /* Уменьшаем размер текста */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #e0e0e0;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.player-buttons button.active {
    background-color: #4caf50;
}

.player-buttons button:hover {
    transform: scale(1.05);
}

.share-button:hover {
    background-color: #45a049;
}

.share-button:active {
    background-color: #3e8e41;
}

/* Стиль отзывов */
.review-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center; /* Выравнивание заголовка отзывов по центру */
}

.reviews-container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background: #292929;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box; /* Включение padding в общую ширину */
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Предотвращение выхода содержимого за пределы */
    word-wrap: break-word; /* Перенос длинных слов */
    margin-bottom: 20px; /* Добавляем отступ снизу для разделения отзывов */
}

.review:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.review-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #aaa;
}

.review p {
    font-size: 16px;
    line-height: 1.5;
    color: #e0e0e0;
    text-align: left; /* Выравнивание по левому краю */
    margin: 0;
}

.toggle-button {
    background-color: transparent;
    border: 1px solid #888;
    color: #888;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    margin: 20px auto 0;
    text-align: center;
}

.toggle-button:hover {
    background-color: #444;
    color: #fff;
    border-color: #fff;
}

.switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 20px;
    border: 2px solid #4caf50;
    border-radius: 50px;
    background-color: #2a2a2a; /* Темный фон для контейнера */
}

.switch-label {
    color: #e0e0e0;
    font-size: 16px;
}

.switch {
    width: 60px;
    height: 30px;
    background: #333;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.switch-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 15px;
    background: #333;
}

.switch-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
}

input:checked ~ .switch-inner .switch-thumb {
    background: #4caf50;
}

input:not(:checked) ~ .switch-inner .switch-thumb {
    background: #676767; /* Менее яркий красный */
}

/* Мобильная версия */
@media (max-width: 768px) {
    .player-container {
        padding: 10px;
        border-radius: 0; /* Убираем скругления */
        margin: 0 auto;
    }

    .movie-details {
        flex-direction: column;
        align-items: center;
    }

    .movie-details {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 40px;
        gap: 10px;
        box-sizing: border-box; /* Включение padding в общую ширину */
    }

    .movie-details img {
        width: 100%; /* Постер будет занимать всю ширину */
        max-width: 300px; /* Возвращаем размер постера */
        margin-bottom: 20px; /* Увеличиваем отступ снизу */
    }

    .movie-details .p-h2 {
        font-size: 26px;
        text-align: left; /* Выравнивание по левому краю */
        margin-bottom: 15px; /* Увеличиваем отступ снизу */
    }

    .movie-details .p-m {
        font-size: 16px;
        width: 100%;
        text-align: left; /* Выравнивание по левому краю */
        margin-bottom: 5px; /* Увеличиваем отступ снизу */
    }

    .kinobox_player {
        height: 200px; /* Уменьшаем высоту плеера для мобильной версии */
        padding-bottom: 0;
    }

    .player-buttons {
        flex-direction: row; /* Кнопки располагаются в строку */
        gap: 5px; /* Уменьшаем отступ между кнопками */
    }

    .player-buttons button {
        padding: 8px 16px; /* Уменьшаем размер кнопок */
        font-size: 14px; /* Уменьшаем размер текста */
    }

    .reviews-container {
        padding: 10px;
    }

    .review {
        padding: 10px;
    }

    .review-text {
        font-size: 20px;
        text-align: center; /* Выравнивание по центру */
        margin: 20px;
    }

    .toggle-button {
        font-size: 14px;
        padding: 8px;
    }
}
