.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 70px auto;
    padding: 50px;
    gap: 20px;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 8px;
    transition: transform 0.3s ease;
    min-height: 90%; /* Изменено с height на min-height */
}



/* Стиль деталей фильма */
.movie-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.movie-details img {
    width: 300px; /* Размер постера */
    height: auto;
    border-radius: 10px; /* Скругление углов постера */
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Тень для постера */
}

.movie-details div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

h2, p {
    margin: 0;
    padding-bottom: 10px;
}

.p-m {
    padding-top: 15px;
}

h2 {
    font-size: 35px; /* Больший размер для заголовка */
    color: #E0E0E0; /* Светлый серый цвет */
    padding-bottom: 30px;

}

p {
    font-size: 18px;
    width: 90%;
    color: #CCC; /* Серый цвет для текста описания */
}

/* Стиль плеера */
.kinobox_player {
    width: 100%;
    height: 600px; /* Увеличенная высота плеера */
    background-color: #000;
    margin-top: 30px;
}

.reviews {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 50px; /* Увеличиваем нижний отступ для блока отзывов */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-text {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

.review {
    background-color: #202020; /* Темный фон для каждого отзыва */
    padding: 20px;
    border-radius: 10px; /* Скругленные углы для блоков */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Слегка выразительная тень */
    transition: transform 0.2s ease-in-out; /* Анимация для наведения */
}

.review:hover {
    transform: translateY(-5px); /* Поднятие блока при наведении */
}

.review p {
    color: #CCC; /* Светло-серый цвет текста */
    font-size: 16px; /* Размер шрифта текста */
    line-height: 1.6; /* Интерлиньяж для улучшенного чтения */
    overflow: hidden; /* Обрезаем текст, чтобы он не вытекал за пределы блока */
    display: block; /* Отображаем текст */
    text-overflow: ellipsis; /* Точки в конце обрезанного текста */
    max-height: 3.2em; /* Ограничиваем высоту текста для создания эффекта "скрытого" текста */
}

.review.open p {
    white-space: normal; /* Возвращаем переносы строк */
    max-height: none; /* Убираем ограничение по высоте */
}

.toggle-button {
    cursor: pointer;
    display: block;
    background: none;
    border: none;
    color: #888;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px; /* Подходящий размер текста для кнопки */
}

.review .toggle-button:hover {
    color: #fff; /* Светлее при наведении для лучшей видимости */
}

