/* Основные стили */
.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
    background-color: #1e1e1e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #e0e0e0;
    box-sizing: border-box;
}

/* Стиль деталей фильма */
.movie-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;
    box-sizing: border-box; /* Включение padding в общую ширину */
}

.movie-details img {
    width: 300px; /* Уменьшаем размер постера */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin: 0 auto; /* Центрирование изображения */
}

.movie-details div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: left; /* Выравнивание по левому краю */
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left; /* Выравнивание по левому краю */
    margin: 0;
}

/* Стиль плеера */
.kinobox_player {
    width: 100%;
    height: 600px; /* Увеличенная высота плеера */
    background-color: #000;
    margin-top: 30px;
}

/* Стиль отзывов */
.review-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left; /* Выравнивание заголовка отзывов по левому краю */
    margin: 0;
}

.reviews-container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background: #292929;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box; /* Включение padding в общую ширину */
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Предотвращение выхода содержимого за пределы */
    word-wrap: break-word; /* Перенос длинных слов */
    margin-bottom: 20px; /* Добавляем отступ снизу для разделения отзывов */
}

.review:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.review-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #aaa;
}

.review p {
    font-size: 16px;
    line-height: 1.5;
    color: #e0e0e0;
    text-align: left; /* Выравнивание по левому краю */
    margin: 0;
}

.toggle-button {
    background-color: transparent;
    border: 1px solid #888;
    color: #888;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    margin: 20px auto 0;
    text-align: center;
}

.toggle-button:hover {
    background-color: #444;
    color: #fff;
    border-color: #fff;
}

/* Мобильная версия */
@media (max-width: 768px) {
    .player-container {
        padding: 10px;
    }

    .movie-details {
        flex-direction: column;
        align-items: center;
    }

    .movie-details img {
        width: 100%; /* Постер будет занимать всю ширину */
        max-width: 300px; /* Ограничиваем максимальную ширину */
        margin-bottom: 20px;
    }

    h2 {
        font-size: 24px;
        text-align: left; /* Выравнивание по левому краю */
        margin-bottom: 25px;
    }

    p {
        font-size: 14px;
        width: 100%;
        text-align: left; /* Выравнивание по левому краю */
        margin-bottom: 15px;
    }

    .kinobox_player {
        height: 200px; /* Уменьшаем высоту плеера для мобильной версии */
        padding-bottom: 0;
    }

    .reviews-container {
        padding: 10px;
    }

    .review {
        padding: 10px;
    }

    .review-text {
        font-size: 20px;
        text-align: center; /* Выравнивание по левому краю */
        margin: 20px;
    }

    .toggle-button {
        font-size: 14px;
        padding: 8px;
    }
}
