.register-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background: #2C2C2C;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: center; /* Добавлено для центрирования всех дочерних элементов */
}

.register-form {
    width: 100%; /* Гарантирует, что форма использует всю ширину панели */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует все элементы формы по горизонтали */
    gap: 20px;
}

.form-group {
    width: 100%; /* Полная ширина для группы формы */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    color: #CCCCCC;
    font-size: 16px;
    margin-bottom: 5px;
}

.form-control {
    width: 80%;
    padding: 10px 15px;
    background: #333333;
    border: 1px solid #444444;
    border-radius: 4px;
    color: #FFFFFF;
    outline: none;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    padding: 12px;
    background-color: #0056b3;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0; /* Убираем любые маргины, если они были */
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #004085;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.btn-primary:active {
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.login-link {
    color: #007bff;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-top: 15px;
}

.login-link:hover {
    text-decoration: underline;
}

.text {
    text-align: center;
    padding-bottom: 20px;
}

.success-message {
    color: #fff; /* Белый цвет текста для контраста */
    font-size: 24px; /* Большой размер шрифта */
    font-weight: bold; /* Жирное начертание */
    text-align: center; /* Выравнивание текста по центру */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); /* Градиентный фон */
    border: none;
    border-radius: 12px; /* Скруглённые углы */
    padding: 20px 40px; /* Отступы вокруг текста */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Тень для добавления глубины */
    z-index: 1051;
    opacity: 0; /* Начинаем с прозрачного */
    animation: fadeIn 0.5s ease-out forwards; /* Анимация появления */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


