/* YouTube Search Bar */
.yt-youtube-search {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.yt-youtube-search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    margin-right: 10px;
    outline: none;
}

.yt-youtube-search-input::placeholder {
    color: #888;
}

.yt-youtube-search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.yt-youtube-search-button:hover {
    background-color: #45a049;
}

/* YouTube Results */
.yt-youtube-results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px; /* Добавляем внутренний отступ */
    border: 1px solid #444; /* Добавляем рамку */
    border-radius: 8px; /* Закругляем углы */
    background-color: #333; /* Фон */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
}

.yt-youtube-results::-webkit-scrollbar {
    width: 10px; /* Ширина скроллбара */
}

.yt-youtube-results::-webkit-scrollbar-track {
    background: #1e1e1e; /* Цвет трека */
}

.yt-youtube-results::-webkit-scrollbar-thumb {
    background-color: #4caf50; /* Цвет ползунка */
    border-radius: 10px; /* Закругляем углы ползунка */
    border: 2px solid #1e1e1e; /* Отступ между ползунком и треком */
}

.yt-youtube-results {
    scrollbar-width: thin;
    scrollbar-color: #4caf50 #1e1e1e;
}

.yt-youtube-result-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.yt-youtube-result-item img {
    width: 120px; /* Увеличиваем размер изображений */
    height: 90px; /* Увеличиваем размер изображений */
    object-fit: cover;
}

.yt-youtube-result-item:hover {
    background-color: #444;
}

/* YouTube Player */
#yt-player-iframe {
    margin-top: 50px;
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin-bottom: 20px;
    border: none;
}

/* SharedPlayer Styles */
.yt-shared-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90%; /* Increased max-width */
    height: 950px;
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    gap: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #e0e0e0;
    box-sizing: border-box;
    overflow: hidden;
}

.yt-use-text {
    color: #e3e3e3;
    margin-top: 20px;
    margin-bottom: 0;
}

.yt-manual-text {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 8px;
}

/* Стиль контента */
.yt-shared-player-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100%; /* Make sure content takes full height */
}

/* Стиль плеера */
.yt-shared-player-kinobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.yt-shared-player-kinobox .kinobox_player {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 110%;
    background-color: #000;
}

/* Стиль чата */
.yt-shared-player-chat-container {
    width: 35%;
    height: 85%; /* Fixed height for the chat container */
    padding: 20px;
    border-radius: 8px;
    background: #292929;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border: 2px solid #4caf50;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure the input area stays at the bottom */
    position: relative; /* Ensure positioning context for child elements */
    overflow: hidden; /* Ensure overflow is hidden */
}

.yt-shared-player-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1; /* Take up remaining space */
    overflow-y: auto;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Hide scrollbar for WebKit browsers */
    ::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
}

.yt-shared-player-message {
    background-color: #333;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    color: #e0e0e0;
    overflow-wrap: break-word; /* Добавлено для переноса слов */
    word-break: break-word; /* Добавлено для переноса слов */
}

.yt-shared-player-input-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.yt-shared-player-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    outline: none;
    margin-right: 10px;
    resize: none; /* Prevent manual resizing */
    min-height: 30px; /* Fixed height */
    height: 30px; /* Fixed height */
}

.yt-shared-player-input::placeholder {
    color: #888;
}

.yt-shared-player-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.yt-shared-player-button:hover {
    background-color: #45a049;
}

/* Добавьте стили для кнопок управления плеером */
.yt-shared-player-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    padding: 20px; /* Added padding to create space inside the border */
    border-radius: 8px;
    background: #292929;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border: 2px solid #4caf50; /* Added border */
}

.yt-shared-player-controls button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.yt-shared-player-controls button:hover {
    background-color: #45a049;
}

.yt-auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    min-height: 100vh; /* Высота экрана */
}

.yt-auth-message {
    font-size: 1.5em;
    color: #f0f0f0;
    margin-bottom: 10px; /* Добавляем отступ снизу */
    flex: 0 0 auto; /* Предотвращаем растягивание элемента */
    max-width: 80%; /* Ограничиваем ширину для лучшего отображения */
}

.yt-no-messages {
    color: grey;
    text-align: center;
    padding: 20px;
    margin-top: 20vh;
}

.yt-auth-image {
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.yt-auth-image:hover {
    transform: scale(1.2);
    color: #ff0;
}

@media (max-width: 768px) {
    .yt-youtube-result-item {
        flex-direction: column; /* Изменение направления на столбцы */
        align-items: flex-start; /* Выравнивание по началу */
    }

    .yt-youtube-result-item img {
        width: 100%; /* Ширина 100% */
        height: auto; /* Автоматическая высота */
    }

    .yt-youtube-result-item p {
        width: 100%; /* Ширина 100% */
        text-align: left; /* Выравнивание текста по левому краю */
    }

    .yt-shared-player-container {
        padding: 20px;
        height: 80%; /* Занимать всю высоту экрана */
        min-width: 100vw; /* Занимать всю ширину экрана */
        border-radius: 0; /* Убрать скругления */
        margin: 0; /* Убрать все margin */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1F1F1F;
    }

    .yt-shared-player-chat-container {
        height: 400px;
    }

    .yt-projects-container {
        height: 100%;
    }

    #yt-player-iframe {
        width: 100%;
        height: 200px;
    }

    .yt-shared-player-content {
        flex-direction: column;
        gap: 10px;
        min-width: 100%; /* Занимать всю ширину контейнера */
    }

    .yt-no-messages {
        color: grey;
        text-align: center;
        padding: 20px;
        margin-top: 10vh;
    }

    .yt-shared-player-kinobox {
        width: 100%;
    }

    .yt-shared-player-chat-container {
        min-width: 100%;
        min-height: 400px;
        padding: 10px;
    }


    .yt-shared-player-movie-details {
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 10px;
    }

    .projects-container {
        min-width: 100%;
    }

    .yt-shared-player-movie-details img {
        width: 100%;
        max-width: 300px;
    }

    .yt-shared-player-description {
        width: 100%;
    }

    .yt-shared-player-controls button {
        padding: 8px 16px;
    }


    .yt-shared-player-input {
        margin-right: 5px;
    }

    /* Скрыть элементы с классом .mobile-hide */
    .yt-mobile-hide {
        display: none;
    }
}
