html {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    background-color: #1F1F1F;
}


.main-container {
    margin: 0 auto;
    background-color: #252525;
    max-width: 80%;
    min-height: 100vh;
}